# === Archivos de Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd

# === Entornos virtuales ===
venv/
env/
ENV/

# === Archivos del sistema operativo ===
.DS_Store
Thumbs.db

# === Archivos de logs y temporales ===
*.log
*.bak
*.tmp
*.swp
*.swo

# === Archivos de entrenamiento ===
models/backups/
models/modelo_knn.pkl

# === Datos temporales o privados ===
data/logs/movimientos.csv

# === Configuración de editores ===
.vscode/
.idea/

# === Archivos de prueba ===
data/imagenes_base/
*.jpeg
*.jpg

# === Carpetas de imágenes clasificadas (por personaje) ===
data/personajes/
